apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: app-rs
  namespace: app
  labels:
    app: employee
spec:
  replicas: 3
  selector:
    matchLabels:
      app: employee
  template:
    metadata:
      labels:
        app: employee
    spec:
      containers:
      - name: app-rs
        image: 009147451403.dkr.ecr.us-east-1.amazonaws.com/prod-app:6491ac94a7b01e0286f7e2c630ef41fcb67aeca2
        env:
            - name: DBHOST
              value: "10.244.0.5"
            - name: DBPORT
              value: "3306"
            - name: DATABASE
              value: "employees"
            - name: DBPWD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: password
            - name: DBUSER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: user
            - name: APP_COLOR
              value: "blue"
        ports:
            - containerPort: 80
      dnsPolicy: ClusterFirst
      restartPolicy: Always
